*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container{
    width: 80%;
    margin: auto;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.debug{

    nav{
        border: 1px dashed black;
        background-color: #daa520;
    }

    .jumbotron{

        .jumbotron_content{
            background-color: #ee82ee;
        }
    }

    .invite_only{

        .invite_only_image{
            background-color: #1e90ff;
        }
        .invite_only_text{
            background-color: #ffc0cb;
        }
    }

    .community{

        .community_image{
            background-color: #1e90ff;
        }
        .community_text{
            background-color: #ffc0cb;
        }
    }

    .fandom{
        
        .fandom_image{
            background-color: #1e90ff;
        }
        .fandom_text{
            background-color: #ffc0cb;
        }
    }

    .technology{

        .technology_content{
            background-color: #228b22;
        }
    }

    .container{

        .contacts{
            background-color: #f08080;
            border: 1px dashed black;
        }

        .list{
            background-color: #20b2aa;
            border: 1px dashed black;
        }
    }

    .footer{
        background-color: #7fffd4;
        border: 1px dashed black;

        .logo_foot,
        .btn{
            background-color: #ffb6c1;
            border: 1px dashed black;
        }
    }
}

/* Header */

#site_header{
    padding: 1rem;
    background-color: #3161e0;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.login{
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.btn_access{
    background-color: #ffffff;
    border: none;
    font-weight: 500;
}

/* Main */

.jumbotron{
    background-color: #00008b;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.jumbotron_content{
    width: 80%;
    height: 400px;
    color: #ffffff;
    text-align: center;

    p{
        font-size: 20px;
        line-height: 2rem;
        padding: 0 4rem;
    }
}

#title_jumbotron{
    font-size: 50px;
    padding-bottom: 3rem;
}

.btn_download{
    padding: 1rem 2rem;
    font-size: 20px;
    border-radius: 2rem;
    font-weight: 400;
    background-color: #ffffff;
    border: none;
    margin: 1rem;

    span{
        padding-right: 0.5rem;
    }
}

.btn_open{
    padding: 1rem 2rem;
    font-size: 20px;
    border-radius: 2rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #23272a;
    border: none;
    margin: 1rem;

}

.invite_only{
    background-color: #ffffff;

    p{
        padding: 1rem 4rem 4rem 4rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
}

#title_invite_only{
    padding: 4rem 4rem 0 4rem;
    font-size: 45px;
}

#title_community{
    padding: 4rem 4rem 0 4rem;
    font-size: 45px;
}


.community{
    background-color: #d3d3d3;

    p{
        padding: 1rem 4rem 4rem 4rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
}


.fandom{
    background-color: #ffffff;

    p{
        padding: 1rem 4rem 4rem 4rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
}

#title_fandom{
    padding: 4rem 4rem 0 4rem;
    font-size: 45px;
}

.technology{
    background-color: #d3d3d3;
    text-align: center;
    
    p{
        font-size: 20px;
        line-height: 2rem;
        padding: 0 4rem;
    }
}

#title_technology{
    font-size: 50px;
    padding-bottom: 3rem;
}

#second_title_technology{
    font-size: 30px;
    background-image: url(../img/stars.svg);
    background-size: contain;
}

#btn_technology{
    padding: 1rem 2rem;
    font-size: 20px;
    border-radius: 2rem;
    font-weight: 400;
    background-color: #8ea1e1;
    border: none;
    margin: 1rem;

    span{
        padding-right: 0.5rem;
    }
}

.invite_only_image,
.community_image,
.fandom_image{
    width: 60%;
    height: 500px;
}

.invite_only_text,
.community_text,
.fandom_text{
    width: 40%;
    height: 500px;
}

.technology_content{
    width: 100%;
    height: 900px;
}


.contacts{
    width: 40%;
    height: 580px;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;

    h2{
        color: #7289da;
        font-size: 40px;
        padding-bottom: 2rem;
    }

    img{
        width: 30px;
    }

    .lang{
        font-size: 15px;
        color: #ffffff;
    }

    .social_icon{
        padding-top: 2rem;

        span{
            padding-right: 1rem;
            font-size: 24px;
        }
    }
}

.border{
    border-bottom: 1px solid #ffffff;
}

.list{
    width: 15%;
    height: 580px;
    display: flex;
    justify-content: space-around;

    ul{
        display: flex;
        flex-direction: column;
    }

    .list_title{
        color: #1e90ff;
        font-weight: 700;
    }

    li{
        list-style: none;
        padding: 0.5rem;
        color: #ffffff;
    }
}

footer{
    background-color: #23272a;
}

.footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.register{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: #ffffff;
    background-color: #8ea1e1;
}

.logo_foot,
.btn{
    padding: 0.25rem;
}