*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.container{
    width: 80%;
    margin: auto;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.debug{

    nav{
        border: 1px dashed black;
        background-color: #daa520;
    }

    .jumbotron{

        .jumbotron_content{
            background-color: #ee82ee;
        }
    }

    .invite_only{

        .invite_only_image{
            background-color: #1e90ff;
        }
        .invite_only_text{
            background-color: #ffc0cb;
        }
    }

    .community{

        .community_image{
            background-color: #1e90ff;
        }
        .community_text{
            background-color: #ffc0cb;
        }
    }

    .fandom{
        
        .fandom_image{
            background-color: #1e90ff;
        }
        .fandom_text{
            background-color: #ffc0cb;
        }
    }

    .technology{

        .technology_content{
            background-color: #228b22;
        }
    }

    .container{

        .contacts{
            background-color: #f08080;
            border: 1px dashed black;
        }

        .list{
            background-color: #20b2aa;
            border: 1px dashed black;
        }
    }

    .footer{
        background-color: #7fffd4;
        border: 1px dashed black;

        .logo_foot,
        .btn{
            background-color: #ffb6c1;
            border: 1px dashed black;
        }
    }
}

/* Header */

#site_header{
    padding: 1rem;
    background-color: #3161e0;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.login{
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.btn_access{
    background-color: #ffffff;
    border: none;
    font-weight: 500;
}

/* Main */

.jumbotron{
    background-color: #00008b;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.jumbotron_content{
    width: 80%;
    height: 400px;
    color: #ffffff;
    text-align: center;

    p{
        font-size: 20px;
        line-height: 2rem;
        padding: 0 4rem;
    }
}

#title_jumbotron{
    font-size: 50px;
    padding-bottom: 3rem;
}

.btn_download{
    padding: 1rem 2rem;
    font-size: 20px;
    border-radius: 2rem;
    font-weight: 400;
    background-color: #ffffff;
    border: none;
    margin: 1rem;

    span{
        padding-right: 0.5rem;
    }
}

.btn_open{
    padding: 1rem 2rem;
    font-size: 20px;
    border-radius: 2rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #23272a;
    border: none;
    margin: 1rem;

}

.invite_only{
    background-color: #ffffff;
}

.community{
    background-color: #d3d3d3;
}

.fandom{
    background-color: #ffffff;
}

.technology{
    background-color: #d3d3d3;
}

.invite_only_image,
.community_image,
.fandom_image{
    width: 60%;
    height: 500px;
}

.invite_only_text,
.community_text,
.fandom_text{
    width: 40%;
    height: 500px;
}

.technology_content{
    width: 100%;
    height: 900px;
}


.contacts{
    width: 40%;
    height: 580px;
}

.list{
    width: 15%;
    height: 580px;
}

footer{
    background-color: #23272a;
}

.footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo_foot,
.btn{
    padding: 0.25rem;
}
